body {
  margin: 0 auto;
  color: #666;
  font-family: "Quicksand", Helvetica, Sans-serif;
  font-weight: 300;
  font-size: 36px;
}

h1 {
  margin: 0;
}

.banner {
  background-color: #ffe2e0;
  width: 100%;
  min-width: 1024px;
}

.banner:nth-child(2) {
  background-color: #b3e8e6;
}

.banner h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 56px;
  text-align: center;
}

.slider .wrapper {
  padding: 0;
}

.slider {
  background-color: #ffe2e0;
  width: 100%;
  height: 360px;
  min-width: 1024px;
  background-image: url('../images/woman.jpg');
  background-size: contain;
  background-position: 75% center;
  background-repeat: no-repeat;
  overflow: auto;
  position: relative;
}

.slider-text {
  background-color: #fff;
  height: 300px;
  width: 300px;
  border-radius: 170px;
  margin: 10px 10px 10px 150px;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 20px;
}

.cta {
  position: absolute;
  left: 0;
  bottom: 40px;
  background-color: rgba(0,0,0,.2);
  padding: 10px 20px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  width: 150px;
  text-align: center;
  font-size: 18px;
}

.program .flex-container {
  align-items: center;
}

.program ul {
  width: 667px;
  font-weight: 700;
  font-size: 24px;
}

.program li {
  margin-bottom: 15px;
}


.program h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
}

.program form {
  width: 270px;
  background-color: #b3e8e6;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.program input[type=text] {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  width: 240px;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: none;
}

.program input[type=submit] {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  padding: 20px;
  margin: 0 auto 15px;
  border: none;
  color: #666;
  font-family: "Quicksand", Helvetica, Sans-serif;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  width: 1024px;
  padding: 40px 0;
}

.banner .wrapper {
  padding: 0;
}

.flex-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.answer {
  font-size: 48px;
  text-align: center;
}

.icon-wrapper {
  text-align: center;
  width: 200px;
}

.icon {
  height: 192px;
  border-radius: 100px;
  border: 4px solid #999;
  position: relative;
}

.icon img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 25px auto;
}

.cross {
  position: absolute;
  top: 2px;
  transform: rotate(30deg);
  margin: 20px 0 0 87px;
  width: 98px;
  height: 198px;
  border-left: 4px solid #999;
}

.graphic-photo-container {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 820px;
  height: 351px;
  overflow: hidden;
}

.graphic-photo-container div {
  z-index: 2;
  position: relative;
  font-family: 'Arial Narrow', Arial, sans-serif;
  color: #fff;
  font-size: 48px;
  text-shadow: 0 0 10px rgba(0,0,0,.4);
  text-transform: capitalize;
  display: block;
  text-align: center;
  overflow: auto;
  padding-top: 40px;
  height: 311px;
}

.graphic-photo-container div img {
  width: 56px;
  display: block;
  margin: 40px auto 20px;
}

.graphic-photo-container div span {
  background-color: #b3e8e6;
  color: #666;
  font-size: 36px;
  padding: 5px 0 5px 15px;
  text-shadow: none;
  display: table;
  margin: 10px auto;
  cursor: pointer;
}

.graphic-photo-container div span::after {
  content: "";
  background-image: url("../images/arrow.png");
  height: 23px;
  width: 32px;
  background-size: 32px 23px;
  margin-left: 10px;
  display: inline-block;
  padding: 0 15px;
  background-repeat: no-repeat;
}

.graphic-photo {
  z-index: 1;
  position: absolute;
  top: 0;
  transition: all .25s ease-in-out;
}

.graphic-blur {
  filter: blur(16px);
  transform: scale(1.1);
  transition: all .25s ease-in-out;
}

.for-you {
  background-color: #b3e8e6;
  padding: 40px 80px;
  font-size: 36px;
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

.for-you p {
  margin: 0;
}

.for-you p::after {
  content: "•";
  display: block;

}

.for-you p:last-child::after {
  content: "";
}

h2 {
  font-size: 56px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}

.callout {
  padding: 40px 80px;
  width: 594px;
  border: 3px solid #ffe2e0;
  margin: 20px auto;
}

h3 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

h3 span {
  font-weight: 700;
}

.book-now-form form {
  width: 730px;
  background-color: #b3e8e6;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.book-now-form input[type=text] {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  border: none;
  background-color:rgba(255, 255, 255, 0.4);
}

.book-now-form input[type=submit] {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  color: #666;
  font-family: "Quicksand", Helvetica, Sans-serif;
  text-align: center;
  border-radius: 10px;
}

.book-now-form a::before {
  content: "";
  background-image: url("../images/phone.png");
  display: inline-block;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 75px;
  height: 75px;
  border-radius: 38px;
  position: absolute;
  background-size: 28px 46px;
  background-position: center center;
  top: -12px;
  left: 0;

}

.book-now-form a {
  background-color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  padding: 10px 10px 10px 80px;
  border: none;
  color: #666;
  font-family: "Quicksand", Helvetica, Sans-serif;
  text-align: center;
  border-radius: 25px 10px 10px 25px;
  position: relative;
}

.book-now-form div {
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.not-for-you-header {
  font-weight: 700;
}

.not-for-you-list {
  font-size: 24px;
}

.team-container {
  margin: 0 auto;
  display: flex;
  width: 800px;
}

.team-container h5 {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
  padding: 0 0 5px;
}

.team-container p {
  font-size: 24px;
}

.team-container {
  padding-bottom: 40px;
}

.faqs {
  width: 500px;
}

.faqs h4 {
  border-radius: 15px;
  background-color: #b3e8e6;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  padding: 5px;
  margin-bottom: 0;
}

.faqs p {
  font-size: 36px;
  margin-top: 10px;
  text-align: center;

}

.remedies-text {
  color: #d68585;
  font-size: 48px;
  text-align: center;
}

.home-remedy-icon {
  justify-content: center;
  padding-bottom: 40px;
}

.home-remedy-icon .icon-wrapper {
  margin: 0 10px;
}

.home-remedy-icon p {
  font-size: 12px;
  font-weight: 500;
}

.benefits ul li {
  list-style-type: none;
  position: relative;
  padding: 0 0 50px 90px;
}

.benefits li::before {
  content: "";
  background-image: url("../images/green_check.png");
  width: 77px;
  height: 57px;
  background-size: 77px 57px;
  position: absolute;
  top: -20px;
  left: 0;
}

.benefits h4, .benefits p {
  text-align: center;
}

.store {
  text-decoration: none;
  color: #666;
  height: 72px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  margin: 40px auto 0;
  justify-content: center;
}

.benefits span {
  line-height: 72px;
}

.store img {
  width: 62px;
  height: 72px;
  margin-right: 10px;
}

.social {
  height: 42px;
  width: 42px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 21px;
  background-size: 22px 22px;
  margin: 40px 5px;
}

.facebook {
  background-image: url("../images/social_facebook.png");
}

.instagram {
  background-image: url("../images/social_instagram.png");
}

.twitter {
  background-image: url("../images/social_twitter.png");
}

.social-container {
  justify-content: center;
}

.logo img {
  height: 112px;
  width: 181px;
  display: block;
  margin: 10px auto
}

.footer {
    font-size: 18px;
}

.footer a {
  text-decoration: none;
  color: #666;
}

.testimonial-container {
  position: relative;
  font-size: 24px;
  z-index: 1;
}

.testimonial {
  width: 600px;
}

.testimonial span {
  display: block;
  font-size: 18px;
  text-align: right;
}

.red-arrow {
  position: absolute;
  z-index: 2;
}

.red-arrow img {
  width: 34px;
  height: 83px;
  cursor: pointer;
}

.left-arrow {
  transform: rotate(180deg);
  top: 200px;
  left: 100px;
}

.right-arrow {
  top: 200px;
  right: 100px;
}

